<!--renderiza o artigo em destaque maior-->
<%= render_if @highlights[0].present?, 'longer_featured', article: @highlights[0] %>
<!--renderiza os artigos em destaque menores-->
<div class="row mb-2">
    <%= render_if @highlights[1].present?, 'minor_featured', article: @highlights[1] %>
    <%= render_if @highlights[2].present?, 'minor_featured', article: @highlights[2] %>
</div>

<div class="row g-5">
    <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
        More cars advertised
    </h3>
    <p>
    <!--botão para criar um novo artigo-->
        <%= link_to 'Post a new article', new_article_path, class: "btn btn-primary" %>
    </p>
    <!--renderiza os artigos-->
    <%= render @articles %>
    <%= render 'pagination' %>
    </div>
    <!--renderiza as informações ao lado das postagens-->
    <%= render 'side_infos' %>
</div>


